<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="default-src *;
      img-src * 'self' data: https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' *;
      style-src  'self' 'unsafe-inline' *"
    >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel='shortcut icon' type='image/x-icon' href='./img/svg/cuntato.svg' />
    <title>404 | Not found</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"    
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Google+Sans"
    />
    <link 
      rel="stylesheet" 
      href="https://cuntato.devfik.com/css/style.min.css" 
    />
  </head>
  <body>
    <main>
      <div class="container">
        <div class="row">
          <div class="col s12 center-align">
            <img
              src="https://cuntato.devfik.com/img/svg/error.svg"
              alt="error"
              class="responsive-img"
              style="width: 700px; height: auto;"
            />
          </div>
        </div>

        <div class="center-align">
          <a href="/" class="btn custom-btn">Go to home</a>
        </div>
      </div>
    </main>
  </body>
</html>
