<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src *;
      img-src * 'self' data: https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' *;
      style-src  'self' 'unsafe-inline' *"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Primary Meta Tags -->
    <title>Cuntato</title>
    <meta rel="icon" content="https://imgur.com/y4mhZlj.png" />
    <meta property="og:image" content="https://imgur.com/y4mhZlj.png" />
    <meta name="title" content="Cuntato" />
    <meta name="description" content="An easy solution to get started with contact form in your websites" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://cuntato.devfik.com/" />
    <meta property="og:title" content="Cuntato" />
    <meta property="og:description" content="An easy solution to get started with contact form in your websites" />
    <meta property="og:image" content="https://imgur.com/y4mhZlj.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="Website" />
    <meta property="twitter:url" content="https://cuntato.devfik.com/" />
    <meta property="twitter:title" content="Cuntato" />
    <meta property="twitter:description" content="An easy solution to get started with contact form in your websites" />
    <meta property="twitter:image" content="./img/svg/cuntato.svg" />
    <meta property="og:image" content="https://imgur.com/y4mhZlj.png" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Google+Sans" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

    <link rel="stylesheet" href="./css/style.min.css" />

    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="Cuntato" />
    <meta name="apple-mobile-web-app-title" content="Cuntato" />
    <meta name="theme-color" content="#04949c" />
    <meta name="msapplication-navbutton-color" content="#04949c" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="msapplication-starturl" content="views/index.ejs" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="icon" sizes="128x128" href="public/img/logo/cuntato128.png" />
    <link rel="apple-touch-icon" sizes="128x128" href="public/img/logo/cuntato128.png" />
    <link rel="icon" sizes="192x192" href="img/logo/cuntato192.png" />
    <link rel="apple-touch-icon" sizes="192x192" href="img/logo/cuntato192.png" />
    <link rel="icon" sizes="256x256" href="img/logo/cuntato256.png" />
    <link rel="apple-touch-icon" sizes="256x256" href="img/logo/cuntato256.png" />
    <link rel="icon" sizes="384x384" href="img/logo/cuntato384.png" />
    <link rel="apple-touch-icon" sizes="384x384" href="img/logo/cuntato384.png" />
    <link rel="icon" sizes="512x512" href="img/logo/cuntato512.png" />
    <link rel="apple-touch-icon" sizes="512x512" href="img/logo/cuntato512.png" />
  </head>
  <body>
    <header>
      <div class="navbar-fixed">
        <nav class="white">
          <div class="nav-wrapper">
            <a href="/" class="brand-logo hide-on-small-only">Cuntato</a>

            <a href="#modal1" class="btn btn-flat modal-trigger right">Sign In</a>
          </div>
        </nav>
      </div>

      <!-- PRELOADER -->
      <div class="progress green darken-4">
        <div class="indeterminate green lighten-4"></div>
      </div>
    </header>

    <main>
      <div class="container">
        <div class="section">
          <div class="row">
            <div class="col s12 m6 l6 banner-text">
              <h1 style="font-weight: bold">CUNTATO</h1>
              <p class="flow-text">
                An easy and secured solution to get messages from contact form of static or dynamic websites.
              </p>
              <a href="#modal1" class="btn modal-trigger custom-btn">Get started</a>
            </div>
            <div class="col s12 m6 l6">
              <img src="./img/svg/banner.svg" alt="bannersvg" class="responsive-img" />
            </div>
          </div>
          <img src="./img/svg/wave.svg" alt="wave" id="wave" class="responsive-img" />
        </div>

        <div class="section">
          <div class="row">
            <div class="col s12 m12 l6" data-aos="fade-right" data-aos-duration="1500">
              <h3>Easy Authentication</h3>
              <p class="flow-text">
                You don't need to create any account in our site. To get started you need to authenticate via Google.
              </p>
            </div>
            <div class="col s12 m12 l6" data-aos="zoom-in-up" data-aos-duration="1500">
              <img src="./img/svg/authenticationsvg.svg" alt="authentication" class="responsive-img" />
            </div>
          </div>
        </div>

        <div class="section">
          <div class="row">
            <div class="col s12 m12 l6" data-aos="fade-right" data-aos-duration="1500">
              <h3>Easy Setup</h3>
              <p class="flow-text">
                After authentication you'll be redirected to your dashboard page where you will create project for a
                single contact form. You'll be given required credentials after creating the project.
              </p>
            </div>
            <div class="col s12 m12 l6" data-aos="zoom-in-up" data-aos-duration="1500">
              <img src="./img/svg/setupsvg.svg" alt="setup" class="responsive-img" />
            </div>
          </div>
        </div>

        <div class="section">
          <div class="row">
            <div class="col s12 m12 l6" data-aos="fade-right" data-aos-duration="1500">
              <h3>Get messages</h3>
              <p class="flow-text">
                Use the required credentials provided after creating project in your site's script and BOOM!!! You are
                good to go.
              </p>
            </div>
            <div class="col s12 m12 l6" data-aos="zoom-in-up" data-aos-duration="1500">
              <img src="./img/svg/setupsvg1.svg" alt="done" class="responsive-img" />
            </div>
          </div>
        </div>

        <!-- MODAL -->
        <div id="modal1" class="modal center rounded">
          <div class="modal-content">
            <p>
              <a href="/auth/google" class="btn auth-btn"
                ><img src="https://img.icons8.com/color/24/000000/google-logo.png" class="left" alt="google" /> Sign In
                with Google</a
              >
            </p>

            <!-- <p>
              <a href="/auth/github" class="btn auth-btn"
                ><img src="https://img.icons8.com/fluent/24/000000/github.png" class="left" alt="github" /> Sign In with
                Github</a
              >
            </p>
            <p>
              <a href="/auth/linkedin" class="btn auth-btn"
                ><img src="https://img.icons8.com/color/24/000000/linkedin.png" class="left" />Sign In with Linked In</a
              >
            </p> -->
          </div>
        </div>
      </div>

      <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Cuntato</h5>
              <p class="grey-text text-lighten-4">
                An easy solution to add functionality in contact form for static sites.
              </p>
              <p class="grey-text text-lighten-4">
                If you find any issue related to the application or have any suggestions please let us know by crating
                an issue in
                <a href="https://github.com/devfikdark/cuntato" target="_blank">github</a>
              </p>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
            © 2024 Copyright DevFik
            <a class="grey-text text-lighten-4 right" href="https://devfik.com" target="_blank">DevFik</a>
          </div>
        </div>
      </footer>
    </main>

    <!-- jQuery cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Materialize js cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Scroll animation js -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- Custom JS -->
    <script src="./js/app.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
